<div class="notification-box">

    <div class="notification-header">
        <h2>Notifications</h2>
        <button class="mark-btn">Mark All Read</button>
    </div>


    <div class="notification-card unread">
        <div class="notification-icon">
            🔔
        </div>
        <div class="notification-content">
            <h4>Token Called</h4>
            <p>Your Token <b>A-102</b> is now being served.</p>
            <span>2 minutes ago</span>
        </div>
    </div>


    <div class="notification-card">
        <div class="notification-icon success">
            ✅
        </div>
        <div class="notification-content">
            <h4>Service Completed</h4>
            <p>Your service request has been completed successfully.</p>
            <span>10 minutes ago</span>
        </div>
    </div>


    <div class="notification-card">
        <div class="notification-icon warning">
            ⚠️
        </div>
        <div class="notification-content">
            <h4>Queue Delay</h4>
            <p>Waiting time increased due to high customer flow.</p>
            <span>30 minutes ago</span>
        </div>
    </div>

</div>